.person {
    display: flex;
    justify-content: space-between;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
}

.details > div {
    display: flex;
    gap: 6px;
}

.person-name {
    color: #195c70;
    margin: 0;
    text-transform: uppercase;
    font-size: 34px;
}

.small {
    width: 14px;
    height: 16px;
}

.king {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person-title {
    color: #5E5E5E;
    margin: 0;
    font-weight: 100;
    font-size: 20px;
}